tracer:
  property: I AM DEV

management:
  endpoints:
    web:
      exposure:
        include: "*"

spring:
  profiles:
    active: dev
  jpa:
    database: POSTGRESQL
    show-sql: true
  datasource:
    url: jdbc:postgresql://${DB:localhost}:5432/eagle_eye_dev
    platform: postgres
    username: ${postgres_dev}
    password: ${postgr@s_dev}
    driverClassName: org.postgresql.Driver
    tomcat:
      test-while-idle: true
      validation-query: SELECT 1
redis:
  server: redis
  port: 6379
